@import '/src/styles.scss';

.card {
  height: 60vh;
  margin: 25px;
  padding: 25px;
  border-radius: .5rem;
  border:.1rem solid rgba(0, 0, 0, 0.2);

}

.center{
  height: 80rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

}
.center-img{
  height: 400px;
  margin-top:15rem;
}

h5{
  font-weight: 400;
  font-size: 3rem;
  font-family: $customFont;
}

h4{
  font-size: 1rem;
  font-weight: 500;
  font-family: $customFont;
}

h6{
  font-size: .9rem;
  font-size: 300;
  font-family: $customFont;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-table {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
}

.center .btn {
  font-size: 1rem !important;
  margin-top: 20px !important ;
  font-weight: 400;
  padding:.6rem 4.2rem;
  border: none;
  outline: none;
  border-radius:10px !important;
  background: linear-gradient(30deg, rgb(236, 64, 122), rgb(129, 212, 250));
  cursor: pointer;
  font-family: $customFont;
  transition: 900ms;
}
.center .btn:hover{
  background: linear-gradient(30deg,  rgb(129, 212, 250), rgba(236,64,122));
  transform: scale(1.1);
  font-family: $customFont;
}

.card-table {
  padding:.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  border-radius:1rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);

}

.table-table-responsive{
  margin: 0;
  height: 20rem ;
  padding:0 2rem;
  margin-top:-2rem;
  position: -webkit-sticky;
  font-size: 1rem;

  font-family: $customFont;
  height:10rem;
  // border:1px #333 solid;


}
.btn-btn-danger  {
row-gap: 2rem;
  position: absolute;
  float: right;
  margin-left: -8.5rem;
  font-size:1rem !important;
  margin-top:-30px !important;
  font-weight: 400;
  height: 3rem;
  border: none;
  border-radius:8px;
  border: 1px solid #000;
  padding:.5rem .7rem;
  color: #fff;
  // background: rgb(244, 67, 54);
  background: rgb(244, 67, 54);
  transition: 900ms;
}



.btn-btn-danger:hover{
  background: rgb(183, 28, 28);
  cursor: pointer;
}


.btn-Empty  {
  row-gap: 2rem;
  position: absolute;
  font-size:1rem !important;
  margin-top: 20px !important;
  font-weight: 400;
  height: 2rem;
  border: none;
  border-radius:8px;
  border: 1px solid #000;
  padding:.3rem 1.5rem;
  color: #fff;
  margin-left: -13rem;
  // background: rgb(244, 67, 54);
  background: rgb(244, 67, 54);
  transition: 900ms;
}

.btn-Empty:hover{
  background: rgb(183, 28, 28);
  cursor: pointer;
}

.btn-shop  {
  row-gap: 2rem;
  position: absolute;
  font-size:1rem !important;
  margin-top: 20px !important;
  font-weight: 400;
  height: 2rem;
  border: none;
  margin-left: -13rem;
  border-radius:8px;
  border: 1px solid #000;
  padding:.3rem 1rem;

   color: #fff;
   font-family: $customFont;
  // background: rgb(244, 67, 54);
  background: rgb(51, 99, 255);
  transition: 900ms;
}

.btn-shop:hover{
  background: rgb(8, 55, 209);
}

.btn-success  {
  position: absolute;
  font-size:1rem !important;
  margin-top: 20px !important;
  font-weight: 400;
  height: 2rem;
  border: none;
  margin-left: -9rem;
  border-radius:8px;
  border: 1px solid #000;
  padding:.3rem 1.5rem;
  color: #fff;
  background: rgb(102, 187, 106);
  transition: 900ms;
}


.btn-success:hover{
  background: rgb(56, 142, 60);
}

.btn-total {
  position:absolute !important;
  box-sizing: border-box;
  overflow: hidden;
  font-size:1rem !important;
  // margin-top:20px !important;
  font-weight: 400;
  border: none;
  padding:.3rem 0 0;
  border-radius:8px;
  margin-left:-6rem;
  background: transparent;
  margin-top:20px  !important;

}

thead{
  position: relative;
  height: 10vmin;


  tr{
    padding: .3rem;
    font-size: $customFont;

  }
}


td{
  font-size: 1rem;
font-family: $customFont;
padding-left:2rem;
margin: 5rem;


}
