@import '/src/styles.scss';

.forgot-image{
  position: relative;
  height: 50rem;
  width: 50%;
  top:0;
  left: 0;
  overflow: hidden;

  .image1{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }

}
  h1{
  position: absolute;
  margin-top: -40rem;
  padding-top:-25rem;
  padding-left:65rem;
font-family: $customFont;
}

p{
  position: absolute;
  margin-top: -38rem;
  padding-top:3rem;
  padding-left:65rem;
  font-family: $customFont;
}

input{
position: absolute;
  margin-top:-32rem;
  padding:.1rem;
  width: 30%;
  padding-left:.5 rem;
  border-bottom: 1px solid #ccc;
  border: none;
  outline: none;
  margin-left:65rem;
  overflow: hidden;
  font-family: $customFont;
  border-bottom: .1rem #ccc solid;
}

.btn1{
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-basis: 1;
  margin-top:-25rem;
  margin-left:65rem;
  padding:.5rem;
 font-family: $customFont;
background: rgb(41, 98, 255);
border: none;
overflow: hidden;
box-sizing: border-box;
color: #fff;
cursor: pointer;
}


